/* Footer Styles */

footer {
  position: relative;
  z-index: 15;
  // top: 30rem;
  text-align: center;
  z-index: 15;
  // padding-top: 20rem;
  padding: 1rem 0;
  // background: $orange;
  background-image: url(../assets/wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 bottom;
  height: 20rem;
  display: flex;
  align-items: flex-end;
}

// .wave {
//   width: 100vw;
//   z-index: 10;
// }
