/* Footer Styles */

footer {
  position: relative;
  top: 30rem;
  text-align: center;
  z-index: 15;
  // color: #fff;
  // padding-top: 20rem;
  padding: 1rem 0;
  background: $orange;
}

// .wave {
//   width: 100vw;
//   z-index: 10;
// }
