@media (max-width: 1023px) {
  header .wrapper {
    padding: 0;
    height: 40rem;
  }
  h1 {
    margin: 6rem 0;
    width: 50rem;
    line-height: 3rem;
    text-align: center;
  }
  h1::before {
    transform: rotate(180deg);
    left: 13.4rem;
    top: 0;
  }
  h1::after {
    bottom: 25rem;
    right: 14rem;
  }
  .notSo {
    right: 9.5rem;
  }
  .trivial::after {
    right: -2rem;
  }
  fieldset {
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
  }
  select {
    margin: 1rem 0;
    width: 50rem;
    background-size: 6%;
  }
  footer {
    font-size: 1.6rem;
    background-size: 150rem;
  }
}

@media (max-width: 680px) {
  .shapes {
    width: 35rem;
  }
  .gamesHeader {
    font-size: 2.5rem;
    position: relative;
    right: 4rem;
  }
  .gamesHeader::before {
    background-size: 8rem 7rem;
    top: 9rem;
    right: -5rem;
  }
  .exitButton {
    font-size: 3.2rem;
    bottom: 51rem;
    right: -23.6rem;
  }
}

@media (max-width: 540px) {
  .shapes {
    width: 28rem;
  }
  select,
  input {
    width: 30rem;
  }
  .exitButton {
    bottom: 53rem;
    right: -18.6rem;
  }
}

@media (max-width: 477px) {
  header .wrapper {
    padding-top: 2rem;
  }
  h1 {
    width: 40rem;
    .notSo {
      right: 6.5rem;
    }
    .trivial::after {
      top: 12rem;
    }
    .pursuit {
      bottom: 13rem;
      left: 7rem;
    }
    .pursuit::before {
      top: -5rem;
      left: 19rem;
    }
  }
  h1::before {
    left: 16.4rem;
  }
  h1::after {
    bottom: 33rem;
    right: 11rem;
  }
  .gamesHeader::before {
    top: 4rem;
    right: -12rem;
    width: 7.5rem;
  }
  .answersContainer {
    flex-direction: column;
  }
  .answersContainer li {
    margin: 0.5rem;
  }
  .wrong,
  .correct {
    padding: 1rem 2rem;
  }
  .triviaContent {
    margin: 1.5rem;
  }
  .exitButton {
    right: -16.6rem;
  }
}

@media (max-width: 391px) {
  h1 .pursuit {
    bottom: -4rem;
    left: 0;
  }
  h1::after {
    bottom: 36rem;
    right: 1rem;
  }
  .triviaContent {
    width: 90%;
  }
  .exitButton {
    right: -13rem;
    bottom: 55rem;
  }
}

@media (max-width: 365px) {
  h1 {
    width: 24rem;
  }
  h1 .notSo {
    right: -0.5rem;
  }
  h1::before {
    left: 7rem;
    top: 4rem;
  }
  h1 .trivial::after {
    top: 14rem;
  }
  form {
    padding-top: 6rem;
  }
  .modalContent {
    padding: 7rem -3rem 3rem;
    .triviaContent {
      margin: 0;
    }
    .buttonsContainer {
      width: 25rem;
      margin-top: 2rem;
    }
    .wrong,
    .correct {
      margin: 1rem 2rem;
      padding: 2rem 3rem;
    }
  }
}

@media (max-width: 320px) {
  .modalContent {
    padding: 7rem 0 2rem;
    .triviaContent {
      font-size: 1.6rem;
      width: 100%;
      margin-top: 3.2rem;
    }
    .buttonsContainer {
      margin-top: 0;
    }
  }
  .exitButton {
    right: -13.5rem;
    bottom: 52rem;
  }
}
