// Import fonts
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Lato&display=swap");

// Font variables
$caveat: "Caveat Brush", sans-serif;
$lato: "Lato", sans-serif;

// Colour variables
$black: #000;
$white: #fff;
$orange: #d26121;
$yellow: #ffe500;
$beige: #fff8f3;
$peach: #f7dac6;
$darkPurple: #550e1b;
