

/* just to have semi-dark mode for development purpose */
html {
  background-color:black;
  color:white;
}


.answersContainer {
  display:flex;
}

.answersContainer li {
  margin: 2rem;
  list-style:none;
}